
header {
   
    display:flex; 
     /* flexbox per tenere allineati logo e titolo principale */
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #f0f0f0;
    padding: 10px;
}


header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

:root {
    --colore-principale: rgb(218, 236, 241);
    --colore-secondario:#f0f0f0;
    --colore-testo: #333;
    --spaziatura: 10px;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: var(--colore-secondario);
    color: var(--colore-testo);
}


nav {
    background-color: var(--colore-principale);
    padding: var(--spaziatura);
    box-shadow: 0 4px 10px rgb(0,0,0.1); 
    /* comando per mettere l'ombra sotto la nav bar, lo 0 indica lo spostamento orizzontale dell'ombra, 4px lo spostamento verticale e 10 px quanto è sfocata l'ombra */

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spaziatura);
    list-style: none; 
    /* comando per levare i puntini dalla lista */
}
nav a {
    text-decoration: none;
    /* comando per togliere la barra sotto gli elementi della nav bar */
    color:var(--colore-testo);
    font-size: 18px;
    font-weight: 600; 
    /* comando per impostare lo spessore del testo, funzione simile del comando bold */
    padding:var(--spaziatura) 18px;
    border-radius: 8px;
}

nav a:hover {
    color: red;
}

main{
    padding: 40px;
}

.chi-siamo{
    text-align: center;
}

.chi-siamo h2{
    font-size: 32px;
    margin-bottom: 20px;
    /* comando per creare spazio esterno sotto un elemento */
}

.chi-siamo p{
    font-size: 18px;
    max-width: 900px;
    margin: auto;
    line-height:1.6;
}

.informazioni {
    background-color: white;
    margin: 40px auto;
    padding: var(--spaziatura);
    width: 70%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.informazioni h3 {
    margin-bottom: 20px;
    font-size: 26px;
}

.informazioni ul {
    list-style: none;
    padding: var(--spaziatura);
}

.informazioni li {
    margin: var(--spaziatura) ;
    font-size: 18px;
} 

.galleria{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    /* crea spazio esterno sopra un elemento */
    padding: var(--spaziatura);

}

.galleria img {
    width: 100%;
    height:220px;
    object-fit: cover;
    /* comando che riempe lo spazio senza deformare l'immagine */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    
}

.galleria img:hover{
    transform: scale(1.03);
}




